<nav class="nav">
    <!-- <img src="assets/images/evangeline.jpg" alt="Evangeline-Test" style="width: 125px;" class="pic"> -->
    <h1 class="christian"><a routerLink="/" routerLinkActive="active">Christian Gonzalez</a></h1>
    <ul class="nav-list">
        
        <li class="neon-button neon1"><a routerLink="/about-me" routerLinkActive="active">About Me</a></li>
        <li class="neon-button neon2"><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
        <li class="neon-button neon3"><a routerLink="/contact" routerLinkActive="active">Contact Me</a></li>
        <li class="neon-button neon4"><a routerLink="/sides" routerLinkActive="active">Side Projects</a></li>

        <!-- <button type="button"></button> -->
    </ul>
</nav>