

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .pic {
    margin-right: auto;
  }
  
  .christian {
    margin-right: auto;
    margin-left: 1.5%;
    font-size: 2em;
    text-shadow: 0 0 1em currentColor;
    animation: blinking 5s infinite alternate;
    animation-delay: 3s;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  .nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-list li {
    margin-right: 10px;
  }