<!-- <div class="" *ngFor="let project of projects">
    <div class="" style="">
        <img src={{project.image}} class="" alt="..." >
            <div class="">
                <h5 class="">{{project.title}}</h5>
                <p class="">{{project.price | currency}}</p>
                <div class="">
                    <button class="" type="" aria-expanded="false">
                    View
                    </button>
                </div>
            </div>
    </div>
</div> -->

<div class="container">
    <div class="card">
        <img src="" alt="" class="project-img">
        <div class="desc-container">
            <h5 class="title"></h5>
            <p></p>
            <div>
                <button></button>
                <div *ngIf></div>
                <ng-template></ng-template>
                <ng-template></ng-template>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="" alt="" class="project-img">
        <div class="desc-container">
            <h5 class="title"></h5>
            <p></p>
            <div>
                <button></button>
                <div></div>
                <ng-template></ng-template>
                <ng-template></ng-template>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="" alt="" class="project-img">
        <div class="desc-container">
            <h5 class="title"></h5>
            <p></p>
            <div>
                <button></button>
                <div></div>
                <ng-template></ng-template>
                <ng-template></ng-template>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="" alt="" class="project-img">
        <div class="desc-container">
            <h5 class="title"></h5>
            <p></p>
            <div>
                <button></button>
                <div></div>
                <ng-template></ng-template>
                <ng-template></ng-template>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="" alt="" class="project-img">
        <div class="desc-container">
            <h5 class="title"></h5>
            <p></p>
            <div>
                <button></button>
                <div></div>
                <ng-template></ng-template>
                <ng-template></ng-template>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="" alt="" class="project-img">
        <div class="desc-container">
            <h5 class="title"></h5>
            <p></p>
            <div>
                <button></button>
                <div></div>
                <ng-template></ng-template>
                <ng-template></ng-template>
            </div>
        </div>
    </div>
</div>